.podcasts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    justify-items: center; 
    padding: 20px;
  }

.podcast-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }

.podcast-app {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;       
    padding: 20px;
  }
  
  .podcast-card {
    background-color: #494a47;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .podcast-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .podcast-card h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  
.podcast-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.podcast-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
.podcast-details {
    padding: 16px;
    text-align: center;
  }
  
.podcast-details h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
.podcast-details p {
    font-size: 14px;
    color: #666;
  }
  
.podcast-status {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
  }
  

@media (max-width: 900px) {
    .podcasts-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media (max-width: 600px) {
    .podcasts-container {
      grid-template-columns: 1fr; 
    }
  }
  
  